* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Mulish', sans-serif;
    height: 100vh;

    /* To center the 'images' section on the page */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.images {
    /* Using flex default direction row to get the desired result */
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;

    /* To position the text of h3 relative to the images */
    position: relative;
    transition: all 700ms ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 50px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;

    /* To change the opacity from 0 to 1 */
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}